<!DOCTYPE html>
{% load staticfiles %}
<html lang="zxx">

<head>
    {% block title %}
    <title>Camping a Travel Blog | SeungHyeon</title>
    {% endblock %}
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Camping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script src="https://kit.fontawesome.com/2cd2350b1f.js"></script>
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

<!--        .vl {-->
<!--          border-left: 6px solid gray;-->
<!--          height: 500px;-->
<!--        }-->



    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">


    <!-- bootstrap4 css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- bootstrap4 js-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% block extra_script %}

    {% endblock %}
</head>

<body>
{% block content %}

{% endblock %}
<!--footer -->
<footer>
    <div class="footer_1its py-5">
        <div class="container py-md-4">

            <div class="row footer-top mb-md-5 mb-4">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its" data-aos="fade-right">
                    <div class="footer-title-w3pvt">
                        <h3>Address</h3>
                    </div>
                    <div class="footer-text">
                        <p>Address : Republic of Korea, Seoul, Seongsu-dong</p>
                        <p>Phone : -</p>
                        <p>Email : <a href="mailto:conficker77@gmail.com">conficker77@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its">
                    <div class="footer-title-w3pvt">
                        <h3>Quick Links</h3>
                    </div>
                    <div class="row no-gutters">
                        <ul class="links">
                            <li><a href="/">Home </a></li>
                            <li><a href="{% url 'blog:about' %}">About </a></li>
                            <li><a href="{% url 'blog:restaurant' %}">Map of a restaurant</a></li>
                            <li><a href="{% url 'blog:hotplace' %}">Map of famous places</a></li>
                            {% if user.is_authenticated %}
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <li>
                                <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}">Signup</a>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its" data-aos="fade-left">
                    <div class="footer-title-w3pvt">
                        <h3>Newsletter</h3>
                    </div>
                    <div class="footer-text">
                        <p>By using our travel blog you will always get memories of your trip from us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <p class="copy-w3layouts">© 2019 Camping. Project by
                    <a href="http://w3layouts.com">SeungHyeonTak.</a>
                </p>
            </div>
            <div class="col-md-4 footer-grid_section">
                <ul class="top-right-info">
                    <li class="mr-1">
                        <a href="https://www.facebook.com/SeungHyeonTak">
                            <span class="fa fa-facebook-f"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/SeungHyeonTak">
                            <span class="fa fa-github"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //copyright -->
</body>
</html>
